body {
    font-family: Arial, sans-serif;
    background-color: #250022;
    background: linear-gradient(45deg,#250022,#23003a);
    color: #c3c3c3;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bubble {
    border: 2px white solid;
    border-radius: 20px;
    padding: 0px 6px;
}
a.nav {
    text-decoration: none;
    color: #c3c3c3;
}
a,summary {
    color: #00cccc;
}
header {
    background-color: #39005a;
}
header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
header ul li {
    float: left;
}
header ul li a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
}
header ul li a:hover:not(#active) {
    background-color: #2d0047;
}
header ul li a#active {
    background-color: #51007f;
}
footer {
    padding: 10px;
    background-color: rgb(72, 0, 121);
}
.container {
    background-color: #26003b;
    border-radius: 30px;
    border: 5px, #330031, solid;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 20px #330031;
    width: 70%;
}
.innercontainer {
    border-radius: 15px;
    border: 2.5px, white, solid;
    padding: 10px;
    width: 70%;
    box-shadow: 0px 0px 10px #ffffff;
}
.autocontainer {
    background-color: #26003b;
    border-radius: 30px;
    border: 5px, #330031, solid;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 20px #330031;
    align-items: center;
    justify-items: center;
    display: inline-flex;
}
.iconcontainer {
    background-color: #330031;
    border: 5px, #330031, solid;
    border-radius: 240px;
    justify-content: center;
    display: flex;
    width: 240px;
    height: 240px;
    box-shadow: 0px 0px 30px #330031;
}
.icon {
    width: 200px;
}
.box-title {
    font-size: 20px;
    color: #a10079;
}
.note {
    color: gray;
    font-size: 10px;
}
div.social {
    height: 55px;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.social {
    width: 50px;
}